.box-1{
    width: 200px;
    height: 200px;
    background: lightgreen;
    margin: 1em 2em;
}

.box-2{
    width: 200px;
    height: 200px;
    background: lightcoral;
    border: 2px solid blue;    
    padding: 1em 2em 3em;
}

.box-2-content{
    width: 20px;
    height: 20px;
    background: yellow;
    border: 2px solid red;
}