/*Los elementos en bloque Se podria decir que ocupa una 
columna completa, que por mas que edite el height or width 
no se correran hacia un lado los demas elementos ya que tiene
toda esa fila reservada*/
h1{
    background: lightblue;
    height: 20vh;
    width: 80px;
}

h2{
    background: purple;
    width: 50px;
}    

.box-1{
    width: 100px;
    height: 100px;
    background: lime;
    padding: 10px;/*Se para el contenido de la caja con el borde*/
    border: 10px solid palevioletred;/*Sus dimenesiones cuentan para el tamaño total*/
    margin: 10px 20px;/*Espacios entre otros elementos*/
    /*outline: 5px solid blue;*/  /*Sus dimenesiones no cuentan para el tamañototal*/
}

.box-2{
    width: 100px;
    height: 100px;
    background: lightcoral;
}

/*Los elementos en linea solo ocupan un pedaso de fila o line*/
a{
    background: limegreen;
    width: 300px;/*Por mas que edite no crecera ya que es un elementos de linea*/
    height:300px;
}