/*
Position Relative
Su punto de referencia (contexto) es el punto donde aparece en el flujo
Al ser un elemento posicionado lo podemos mover en los tres ejes X Y Z
*/

.box1, .box2{
    width: 250px;
    height: 250px;
    margin: 1em auto;
    border: 5px solid #7FFF00;
    font-size: 2.5em;
    text-align: center;
}

.box1{
    background: lightgreen;
    position: relative;/*reserva su espacio pero si lo traslada*/
    /*top right buttom left z-index*/
    /* top: 100px;
    left: 50px;*/
    /*z-index: 1;/*Pone en adelante a esta box ya q si no tuviera  se pondria primero box2*/


    top :500px
}

.box2{
    background: lightsalmon;
    position: relative;
}