/* 
Sitios gratuitos para fuentes
    https://www.dafont.com/es/
    https://www.1001fonts.com/
    Analizar fuentes web
        whatFont
*/

/* .title{
    font-family: 'Maven Pro', sans-serif;
}

.paragraph{
    font-family: 'Arimo', sans-serif;
} */

