
body{
    /* font-size: 30px; */
}


.title{
    /* font-family: Cambria, Cochin, Georgia, Times, 'Times New Roman', serif; */
    /* font-size: 2em; */
    /* font-size: 10vmin; */
    /* font-style: normal; */

    /* text-transform: capitalize; */
}

.span{
    /* font-size: 2rem; */
}

.paragraph{
    /* font-weight: bold; */
    /* text-align: justify; /*Deja mucho espacio */
    /* text-indent: 30px; */
}

.link{
    /* text-decoration: none; */
}


/*
TEXT
    Text-transform: Transforma el texto a mayúsculas, minúsculas, etc.
        lowercase (minusculas) | uppercase (mayusculas) | capitalize (primera letra de cada palabra en mayusculas)
    text-align: Alinea el texto del elemento a la izquierda, derecha, etc. SOLO ELEMENTOS DE BLOQUE (excepto en botones, que aunque sean de elementos en línea funciona)
        center | left | right | justify
    text-decoration: Establece la decoración del texto
        overline | line-through | underline | none
    text-indent: mueve la primera linea de un de texto. SOLO ELEMENTOS DE BLOQUE
*/

/* .title {
        text-transform: capitalize;
    }
    .paragraph {
        text-align: justify;
        text-indent: 50px;
    }
    .link {
        text-decoration: none;
    } */

/*
OTHER
    line-height: establece la altura de la linea
    letter-spacing: establece la separacion de las letras con una medida en cualquier unidad
*/

.box{
    width: 100px;
    height: 100px;
    background: red;
}
.box__item{
    line-height: 100px;
    text-align: center;
}

.paragraph{
    letter-spacing: -4px;
}